<div class="navbar navbar-inverse opaque-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
  <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>

  </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="nav navbar-nav pull-left">
        <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Home', root_path %></li>
        <li class="<%= 'active' if params[:action] == 'products' %>"><%= link_to 'Products', products_path %></li>
        <li class="<%= 'active' if params[:action] == 'about' %>"><%= link_to 'About', about_path %></li>
      </ul>
    </div>
  </div>
</div>
