<div class="home-picture"></div>
<div class="container">
  <h1 class="head_title"><%= @title_message %></h1>
  <%= display_flash :notice %>
  <div class="jumbotron">
    <h2 class="home_text"><%= @subtitle_message %></h2>
    <p class="home_text">You can choose from <%= @product_count%> different lumber products.<%= link_to " Get yourself something cozy!", products_path%></p>
  </div>
</div>

<button class="btn btn-primary" id = "test">Click me!</button>
<br><br>

<h2 id="test2">Test</h2>
<div id="neki">
  <input type="text" name="neki_tekst" id="polje">
</div>
